
    <!DOCTYPE html>
    <html>
    <head>
    <title>Bootstrap 101 Template</title>
	<meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{theme}}/include/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{theme}}/1include/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{theme}}/include/css/styles.css" rel="stylesheet" media="screen">
    </head>
    <body>
		<div class='container'>
		<h1>hellow world!<%= name %></h1>
		<img src='{{theme}}/include/img/极光.jpg' />
		</div>
        <form method='post' action='/'>
            <input type='text' name='in' value=''/>
            <input type='submit'/>
        </form>
    <script src="{{theme}}/include/js/jQuery-min-v1.9.1.js" type="text/javascript" ></script>
    <script src="{{theme}}/include/js/mender.js" type="text/javascript" ></script>
    <script src="{{theme}}/include/js/bootstrap.min.js" type="text/javascript" ></script>
	</body>
    </html>