
  <div class='left-sider' style='width:100px;float:left;padding:15px;text-align:right;'>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class='user'>
          <a href='/admin/user' class='iframe-enter' data-href=''>用户管理</a>
        </li>
        <li class='cats'>
          <a href='/admin/cats' class='iframe-enter' data-href=''>分类管理</a>
        </li>
        <li class='goods'>
          <a href='/admin/parts' class='iframe-enter' data-href=''>产品管理</a>
        </li>
      </ul>
    </div>
  </div>